.equipment-editor-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  .field-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .form-row {
    display: grid;
    grid-template-columns: 88px 1fr;
    align-items: center;
    gap: 12px;

    > span {
      color: $text-secondary;
      font-size: 12px;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
