.my-characters-client {
  .my-characters-client-container {
    width: $page-wide-width;
    padding: 16px;
  }

  .order-action-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .character-section {
    margin-top: 12px;
  }

  .empty {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    border-radius: $border-radius;
    background: $gray-800;

    .empty-message {
      font-size: 13px;
      color: $text-secondary;
    }
  }
}
