.loado-table {
  min-width: 600px;
  padding: 12px;
  border-radius: 8px;
  background-color: $gray-800;

  .header-row {
    display: flex;
    border-bottom: 1px solid $gray-500;
  }

  .row {
    display: flex;
    border-bottom: 1px solid $gray-700;
  }
}