.result-panel {
  .result-panel-top {
    margin-bottom: 16px;

    .calculate-button {
      width: 160px;
      height: 50px;
    }
  }

  .result-panel-content {
    padding: 16px;
    background: $gray-800;
    border-radius: $border-radius;
  }

  .loading-result {
    display: grid;
    gap: 8px;
    padding-bottom: 24px;

    p {
      margin: 0;
      color: $gray-400;
      font-size: 12px;
      text-align: center;
    }
  }

  .empty-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    font-size: 14px;
    text-align: center;
    color: $gray-400;
  }
}
