.settings-container {
  width: 1024px;
  max-width: 100%;
  padding: 16px;
  border-radius: $border-radius;
  background: $gray-800;

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-600;

    .title {
      font-size: 13px;
      font-weight: 500;
    }
  }

  .memo-list {
    width: 100%;
  }

  .backup-input {
    display: none;
  }
}