.icon-picker-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 16px;

  .icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    color: $text-secondary;
    cursor: pointer;
    transition:
      background-color $transition,
      border-color $transition;
    border: 1px solid transparent;

    &:hover {
      background-color: $bg-accent;
    }

    &.selected {
      border-color: $rose;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &.none-btn {
      font-size: 11px;
    }
  }
}