.ark-grid-summary-section {
  width: 100%;

  .summary-table {
    grid-template-columns: $loa-summary-label-cell-width repeat(7, 1fr);
  }

  .core {
    flex-direction: column;
    gap: 2px;

    .core-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
      font-size: 11px;
    }

    .core-meta {
      font-size: 11px;
    }
  }
}