.mapledo-table {
  min-width: 600px;
  padding: 12px;
  border-radius: 8px;
  background-color: $bg;

  .header-row {
    display: flex;
    border-bottom: 1px solid $border;
  }

  .row {
    display: flex;
    border-bottom: 1px solid $border-soft;
  }
}
