.effect-group {
  margin-top: 4px;

  .effect-title {
    display: block;
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 600;
    color: $gray-300;
  }

  .effect-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .effect {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    color: $text-primary;
  }
}
