.equipment-section {
  display: flex;
  gap: 12px;

  .left-box,
  .right-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .left-box {
    flex: 1;
  }

  .right-box {
    flex: 1.8;
  }

  .gear-item {
    display: flex;
    align-items: center;
    gap: 12px;

    .name-box {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 2px;

      .name {
        font-size: 13px;
        font-weight: 500;
        color: $text-primary;
      }

      .level-chip {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        padding: 0 6px;
        font-size: 10px;
        color: $text-secondary;
        border: 1px solid $gray-500;
        border-radius: 100px;
      }
    }
  }

  .accessory-item {
    display: flex;
    gap: 12px;

    .info-box {
      width: 52px;

      .name-box {
        display: flex;
        align-items: center;
        height: 18px;
        margin-bottom: 2px;

        .name {
          font-size: 13px;
          font-weight: 500;
          color: $text-primary;
        }
      }
    }

    .item-effect {
      flex: 1;
      font-size: 11px;
      color: $text-secondary;

      .basic-effect {
        margin-bottom: 4px;
      }

      .effect {
        display: flex;
        align-items: center;
        gap: 4px;

        .effect-grade {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }
  }
}