.formRowLabel {
  font-size: 0.813rem;
  color: $text-secondary;
}

.classRowLabel {
  flex-shrink: 0;
  width: 80px;
  font-size: 0.688rem;
  color: $text-secondary;
}

.add-button {
  width: 120px;
}

.class-toggle {
  width: 88px;
  margin-left: 8px;
}
