.my-characters-client {
  .my-characters-client-container {
    width: 1440px;
    padding: 16px;
  }

  .tab-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .tab-box {
      flex: 1;
    }
  }

  .character-section {
    margin-top: 12px;
  }

  .empty {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    border-radius: $border-radius;
    background: $gray-800;

    .empty-message {
      font-size: 13px;
      color: $text-secondary;
    }
  }
}
