.character-detail {
  width: $page-width;

  .top-layout {
    display: grid;
    grid-template-columns: 700px minmax(0, 1fr);
    column-gap: 12px;
    align-items: stretch;
  }

  .equipment-column {
    display: flex;
    min-width: 0;
    flex-direction: column;
    gap: 16px;
  }

  .side-column {
    display: grid;
    min-width: 0;
    grid-template-rows: minmax(0, 1fr) auto auto;
    gap: 16px;
  }

  .ark-layout {
    display: grid;
    grid-template-columns: 420px minmax(0, 1fr);
    gap: 12px;
    margin-top: 16px;
  }

  .empty-character {
    color: $text-secondary;
    font-size: 10px;
  }
}
