.character-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid $gray-500;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
}
