.character-list {
  width: 1024px;
  padding: 16px;
  border-radius: $border-radius;
  background: $gray-700;
}

.empty {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.empty-message {
  font-size: 0.813rem;
  color: $text-secondary;
}
