.form-row {
  display: flex;
  margin-bottom: 12px;
}

.label-box {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
}

.label {
  font-size: 0.813rem;
  color: $text-secondary;
}

.content {
  width: 100%;
}
