.form-row {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  .form-row-label {
    line-height: 40px;
    font-size: 13px;
    color: $text-secondary;
    min-width: 80px;
  }

  .form-row-content {
    width: 100%;
  }
}
