.main-class-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  flex-shrink: 0;
  width: 80px;
  font-size: 0.688rem;
  color: $text-secondary;
}

.class-toggle {
  width: 88px;
  margin-left: 8px;
}
