.weekday-picker {
  display: flex;
  gap: 6px;

  .weekday-button {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    font-size: 13px;
    color: $text-secondary;
    background-color: $gray-600;
    transition: background-color $transition;

    &:hover {
      background-color: $gray-500;
    }
  }

  .weekday-button-selected {
    color: $text-primary;
    background-color: $secondary;

    &:hover {
      background-color: $red-500;
    }
  }
}