.text-edit-modal-content {
  padding: 16px;

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 24px;

    .submit-btn {
      width: 120px;
    }
  }
}
