.character-summary-list {
  display: flex;
  flex-direction: column;
  width: $page-width;
  gap: 16px;

  .summary-item {
    width: 100%;
    background: $bg;
    border: 1px solid $border-soft;
    border-radius: $border-radius;

    // .detail-layout {
    //   display: grid;
    //   border-top: 1px solid $border-soft;

    //   .setting-row,
    //   .ark-row {
    //     padding: 16px;
    //   }

    //   .ark-row {
    //     border-top: 1px solid $border-soft;
    //   }
    // }
  }
}
