.spec-summary-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 80px;

  .button-group-container {
    display: flex;
    margin-top: 8px;
  }

  .section-container {
    display: flex;
    max-width: 1280px;
  }
}