// Color
$color-primary-main: #0061b4;
$color-primary-light: rgba(0, 97, 180, 0.8);
$color-secondary-main: #b40007;
$color-secondary-light: rgba(180, 0, 7, 0.8);

$color-dark-gray-1: #1f1f1f;
$color-dark-gray-2: #292929;
$color-dark-gray-3: #3c3c3c;
$color-dark-gray-4: #464646;
$color-dark-gray-5: #505050;

$color-bg-default: #292929;
$color-bg-base: #1f1f1f;
$color-bg-overlay: rgba(0, 0, 0, 0.4);

$color-text-primary: #f1f1f1;
$color-text-secondary: #aaa;

$color-border-default: #505050;
$color-border-light: #818181;
$color-border-dark: #3c3c3c;

// Size
$size-header-height: 56px;
$size-button-height: 36px;
$size-input-height: 40px;
$size-modal-header-height: 48px;
$size-icon-button: 36px;

// Common
$font-family-base: 'Noto Sans KR', sans-serif;
$letter-spacing-base: -0.3px;
$border-radius-base: 4px;
$transition-base: 0.25s ease;

// Z-index
$z-fixed-loading: 5000;
