@use 'variables' as v;

html, body, h1, input, select, button {
  font-family: v.$font-family-base;
}

body {
  min-height: 100dvh;
  background-color: v.$color-bg-base;
  color: v.$color-text-primary;
  line-height: 1.5;
  letter-spacing: v.$letter-spacing-base;
}
