.header-cell {
  flex-shrink: 0;
  width: $loado-cell-width;
  height: $loado-cell-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: $gray-100;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
