.create-character-modal-content {
  padding: 24px;

  .form-row {
    display: grid;
    grid-template-columns: 64px minmax(0, 1fr);
    align-items: center;
    gap: 12px;

    & + .form-row {
      margin-top: 12px;
    }

    .label {
      font-size: 13px;
      font-weight: 500;
      color: $text-secondary;
    }
  }

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 24px;

    .submit-button {
      width: 120px;
    }
  }
}
