html,
body,
h1,
input,
select,
button {
  font-family: $font-family;
}

body {
  min-height: 100dvh;
  background-color: $gray-900;
  color: $text-primary;
  line-height: 1.5;
  text-size-adjust: 100%;
}
