.header-cell {
  flex-shrink: 0;
  width: $task-table-cell-width;
  height: $task-table-cell-height;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  user-select: none;
  cursor: grab;

  &:hover {
    background-color: $gray-700;
  }

  &:active {
    cursor: grabbing;
  }
}
